@charset "UTF-8";
/*
Author:             ManoolK / SuvorovaO
Version:            1.0

COLORS:

Light torquoise: #01A9B2
Medium torquoise: #005E7A
Dark torquoise: #013162

Light: #C7BACC
Medium: #A96B70

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    background: white url("../images/background.png")
}

.page-header {
    background-image: linear-gradient(to right bottom, #01A9B2, #013162);
    background-position: top;
    background-size: cover;
    padding: 20px 20px 20px 40px;
    border: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserat', sans-serif;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited, .page-header h1 a:active {
    font-size: 36pt;
    text-decoration: none;
}

.heading-primary a {
    color: #fff;
    font-weight: 400;
    letter-spacing: 6px;
}

.content {
    margin-left: 40px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

li a {
    color: green;
}
