@charset "UTF-8";
/*
Author:             ManoolK / SuvorovaO
Version:            1.0

COLORS:

Light torquoise: #01A9B2, rgb(1, 169, 178)
Medium torquoise: #005E7A
Dark torquoise: #013162, rgb(1, 49, 98)

Light: #C7BACC
Medium: #A96B70
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.page-header {
    background-image: linear-gradient(to right bottom, #01A9B2, #013162);
    padding: 20px 20px 20px 20px;
}

h1, h2, h3, h4 {
    font-family: 'Vollkorn';
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.top-menu,
.top-menu a:hover,
.top-menu a:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.content {
    margin-left: 40px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h1 a,
.post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0 20px 20px;
}
